<div>
    <form>
        <div>
            <input type="text" name="recipeTitle" [(ngModel)]="recipe.title" placeholder="title">
        </div>
        <div>
            <input type="text" name="recipeTitle" [(ngModel)]="recipe.title" placeholder="title">
        </div>
        <div>
            <input type="text" name="recipeTitle" [(ngModel)]="recipe.title" placeholder="title">
        </div>
        <div>
            <input type="text" name="recipeTitle" [(ngModel)]="recipe.title" placeholder="title">
        </div>
        <div>
            <input type="text" name="recipeTitle" [(ngModel)]="recipe.title" placeholder="title">
        </div>
        <div>
            <select name="courseType" ngModel>
            </select>
        </div>
    </form>
</div>

title: string;
description: string;
ingredients: string;
steps: string;
date: Date;
CourseType: CourseType;
Category: Category;
*/