<form>
    <div *ngIf="recipe!">
        <div class="form-group">
            <input type="hidden" name="id" class="form-control" [(ngModel)]="recipe.id">
            <input type="text" name="title" class="form-control" [(ngModel)]="recipe.title" placeholder="title">
        </div>
        <div class="form-group">
            <input type="text" name="description" class="form-control" [(ngModel)]="recipe.description" placeholder="description">
        </div>
        <div class="form-group">
            <input type="text" name="ingredients" class="form-control" [(ngModel)]="recipe.ingredients" placeholder="ingredients">
        </div>
        <div class="form-group">
            <input type="text" name="steps" class="form-control" [(ngModel)]="recipe.steps" placeholder="steps">
        </div>
        <div class="form-group">
            <select name="courseType">
                <option *ngFor="let type of recipe.courseType | keyvalue" [ngValue]="type.value">
                    {{type.value}}
                </option>
            </select>
            <p>{{recipe.courseType}}</p>
        </div>
        <button type="submit" (click)="editRecipe()">Edit</button>
    </div>
</form>

<a routerLink="/recipes">Back to home</a>