<form>
    <div class="form-group">
        <input type="text" name="title" class="form-control" [(ngModel)]="recipe.title" placeholder="Title (at least 5 characters, 300 max)">
    </div>
    <div class="form-group">
        <input type="text" name="description" class="form-control" [(ngModel)]="recipe.description" placeholder="Description (at least 10 characters, 500 max)">
    </div>
    <div class="form-group">
        <input type="text" name="ingredients" class="form-control" [(ngModel)]="recipe.ingredients" placeholder="Ingredients">
    </div>
    <div class="form-group">
        <input type="text" name="steps" class="form-control" [(ngModel)]="recipe.steps" placeholder="Recipe steps">
    </div>
    <div class="form-group">
        <span>Image url:</span><input type="text" name="steps" class="form-control" [(ngModel)]="recipe.imageUrl" placeholder="Image url">
    </div>
    <div class="form-group">
        <select name="courseType" [(ngModel)]="recipe.category">
            <option value="" disabled selected>Select your option</option>
            <option [ngValue]="null" >None</option>
            <option *ngFor="let category of categories | keyvalue:order | slice: 5" [ngValue]="category.value">
                {{category.key}}
            </option>
        </select>
    </div>
    <div>
        <select name="courseType" [(ngModel)]="recipe.courseType">
            <option value="" disabled selected>Select your option</option>
            <option [ngValue]="null" >None</option>
            <option *ngFor="let course of courseTypes | keyvalue:order | slice: 5" [ngValue]="course.value">
                {{course.key}}
            </option>
        </select>
    </div>
    <button type="submit" (click)="createRecipe()">Create</button>
</form>


<a routerLink="/recipes">Back to home</a> 